/**
 * Tema da Igreja Presbiteriana de Cachoeirinha - RS.
 *
 * By Bruno Schmidt. Based on white.(s)css by Hakim El Hattab, http://hakim.se
 * Não modificar. Deixa o Tailwind cuidar dos estilos!
 */


// Default mixins and settings -----------------
@import "../template/mixins";
@import "../template/settings";
// ---------------------------------------------


// Override theme settings (see ../template/settings.scss)
$backgroundColor: #fff;
$mainFont: 'Century Gothic', Helvetica, sans-serif;
$headingFont: 'Century Gothic', Helvetica, sans-serif;
$headingTextShadow: none;
$headingLetterSpacing: normal;
$headingTextTransform: uppercase;
$headingFontWeight: 600;
$linkColor: #2a76dd;
$linkColorHover: lighten( $linkColor, 15% );
$selectionBackgroundColor: lighten( $linkColor, 25% );

// Change text colors against dark slide backgrounds
@include dark-bg-text-color(#fff);


// Theme template ------------------------------
@import "../template/theme";
// ---------------------------------------------

@tailwind base;
@tailwind components;
@tailwind utilities;

