<!doctype html>
<html lang="pt-br">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

	<title>__TITLE__</title>

	<link rel="stylesheet" href="ipcachoeirinha/reset.css">
	<link rel="stylesheet" href="ipcachoeirinha/reveal.css">
	<link rel="stylesheet" href="ipcachoeirinha/tailwind.css">
</head>

<body>
	__REVEAL_ROOT_ELEMENT__
	<script src="ipcachoeirinha/reveal.js"></script>
	<script>
		Reveal.initialize(__REVEAL_CONFIG__);
	</script>
</body>

</html>
